<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <div class="container">
    <a class="navbar-brand" href="/home">
      <img src="../img/logo_icon_light.png" alt="Scheduler Icon" class="brand_logo_details">
    </a>
    <button 
      class="navbar-toggler" 
      type="button" 
      data-bs-toggle="collapse" 
      data-bs-target="#navbarSupportedContent" 
      aria-controls="navbarSupportedContent" 
      aria-expanded="false" 
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="/home">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about_in">ABOUT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact_in">CONTACT US</a>
        </li>
        {{#if flag}}
        <li class="nav-item">
          <a class="nav-link" href="/my_schedules">MY SCHEDULES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/create">CREATE</a>
        </li>

        {{else}}
        <li class="nav-item">
              <a class="nav-link" href="/log_in">LOG IN</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/register">REGISTER</a>
            </li>
        {{/if}}
  <li class="nav-item">
    <form class="d-flex" id="search" method="get" action="/searchResults">
      <input class="form-control me-2" type="search" name="q" placeholder="Search" aria-label="Search">
      <input type="submit" class="search-btn" id="search-submit" value="Search">
    </form>
  </li>
      </ul>
  <body>
  <div class="dropdown">
    <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
      <img src="/img/user_icon.svg" class="user_logo_details">
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      {{#if flag}}
      <li><a class="dropdown-item" href="/manage_account">Manage Account</a></li>
      <li><a class="dropdown-item" href="/home_out">Log Out</a></li>
      <li><hr class="dropdown-divider"></li>
      {{/if}}
      <li ><a class="dropdown-item" href="#">Dark Mode
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="darkSwitch">
            <label class="form-check-label" for="darkSwitch"></label>
        </div></a>
        <script src="../js/dark_mode_switch.min.js"></script></a>
      </li>
    </ul>
    </div>
    </div>
    </div>
    </div>
  </div>
</nav>