<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sticky-footer/">
    <link rel="stylesheet" href="/css/style.css">
    <title>Scheduler | Home</title>
  </head>
  <body>
    {{> header flag=flag}}
    <div class="wrapper d-flex align-items-stretch">
    <nav class="sidebar">
      <div class="p-3 pt-3">
        <h2>Schedule Name</h2>
        <h3>Class List</h3><br>
          <div class="card" style="max-height: 450px;">
            <ul class="list-group list-group-flush" style="overflow:auto">
              <li class="list-group-item" id="LI1STALGCM">
                <div class="container p-0">
                  <div class="form-check">
                <input class="form-check-input" type="checkbox" id="MSTALGCM" checked onchange="changeSchedule(this.id)">
              <label class="form-check-label"  id="L1STALGCM">STALGCM MT 09:15-10:45</label>
            </div></div>
          </li>
          <li class="list-group-item" id="LI1CSAPDEV">
            <div class="container p-0">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="MCSAPDEV" onchange="changeSchedule(this.id)">
            <label class="form-check-label" for="flexCheckDefault" id="L1CSAPDEV">CSAPDEV MW 14:30-16:00</label>
          </div></div>
          </li>
          <li class="list-group-item" id="LI1CSARCH1">
                <div class="container p-0">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="MCSARCH1" onchange="changeSchedule(this.id)">
            <label class="form-check-label" for="flexCheckDefault" id="L1CSARCH1">CSARCH1 TH 12:45-14:15</label>
          </div></div>
          </li>
          <li class="list-group-item" id="LI1GETEAMS">
                <div class="container p-0">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="MGETEAMS" checked onchange="changeSchedule(this.id)">
            <label class="form-check-label" for="flexCheckDefault" id="L1GETEAMS">GETEAMS M 15:30-17:30</label>
          </div></div>
          </li>
          <li class="list-group-item" id="LI1GERPHIS">
                <div class="container p-0">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="MGERPHIS" checked onchange="changeSchedule(this.id)">
            <label class="form-check-label" for="flexCheckDefault" id="L1GERPHIS">GERPHIS WH 09:15-10:45</label>
          </div></div>
          </li>
          <div id="classList">
            </div>
             </ul>
              
            <!-- </div> -->
          <div class="row">
            <div class="col">
          <button type="button" class="btn btn-primary btn-lg mt-1 w-100" data-bs-toggle="modal" data-bs-target="#addClass">Add</button>
          <div class="modal fade" id="addClass" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="addClassLabel">Choose a Class</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class="card" style="max-height: 400px;">
                      <ul class="list-group list-group-flush" style="overflow:auto">
                        <li class="list-group-item" id="LI2CSADPRG">
                          <div class="container p-0">
                            <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="add" id="ACSADPRG">
                            <label class="form-check-label" for="flexCheckDefault" id="L2CSADPRG">CSADPRG TH 16:15-17:45</label>
                          </div></div>
                        </li>
                        <li class="list-group-item" id="LI2GEDANCE">
                          <div class="container p-0">
                            <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="add" id="AGEDANCE">
                            <label class="form-check-label" for="flexCheckDefault" id="L2GEDANCE">GEDANCE T 07:30-09:30</label>
                          </div></div>
                        </li>
                        <li class="list-group-item" id="LI2LCLSTWO">
                          <div class="container p-0">
                            <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="add" id="ALCLSTWO">
                            <label class="form-check-label" for="flexCheckDefault" id="L2LCLSTWO">LCLSTWO W 07:30-09:30</label>
                          </div></div>
                        </li>
                        <li class="list-group-item" id="LI2CSMATH2">
                          <div class="container p-0">
                            <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="add" id="ACSMATH2">
                            <label class="form-check-label" for="flexCheckDefault" id="L2CSMATH2">CSMATH2 MW 16:15-17:45</label>
                          </div></div>
                        </li>
                        <li class="list-group-item"id="LI2CCDSALG">
                          <div class="container p-0">
                            <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="add" id="ACCDSALG">
                            <label class="form-check-label" for="flexCheckDefault" id="L2CCDSALG">CCDSALG TH 07:30-09:00</label>
                          </div></div>
                        </li>
                        <div id="addClassList">
                        </div>
                      </ul>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                  <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick=addToClassList()>Add</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <button type="button" class="btn btn-primary btn-lg mt-1 w-100" data-bs-toggle="modal" data-bs-target="#deleteClass">Delete</button>
          <div class="modal fade" id="deleteClass" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="addClassLabel">Choose a Class</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class="card" style="max-height: 400px;">
                      <ul class="list-group list-group-flush" style="overflow:auto" id="deleteClassList">
                        <li class="list-group-item" id="LI3STALGCM">
                          <div class="container p-0">
                            <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="delete" id="DSTALGCM">
                            <label class="form-check-label" for="flexCheckDefault" id="L3STALGCM">STALGCM MT 09:15-10:45</label>
                          </div></div>
                        </li>
                        <li class="list-group-item" id="LI3CSAPDEV">
                          <div class="container p-0">
                            <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="delete" id="DCSAPDEV">
                            <label class="form-check-label" for="flexCheckDefault" id="L3CSAPDEV">CSAPDEV MW 14:30-16:00</label>
                          </div></div>
                        </li>
                        <li class="list-group-item" id="LI3CSARCH1">
                          <div class="container p-0">
                            <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="delete" id="DCSARCH1">
                            <label class="form-check-label" for="flexCheckDefault" id="L3CSARCH1">CSARCH1 TH 12:45-14:15</label>
                          </div></div>
                        </li>
                        <li class="list-group-item" id="LI3GETEAMS">
                          <div class="container p-0">
                            <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="delete" id="DGETEAMS">
                            <label class="form-check-label" for="flexCheckDefault" id="L3GETEAMS">GETEAMS M 15:30-17:30</label>
                          </div></div>
                        </li>
                        <li class="list-group-item" id="LI3GERPHIS">
                          <div class="container p-0">
                            <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="delete" id="DGERPHIS">
                            <label class="form-check-label" for="flexCheckDefault" id="L3GERPHIS">GERPHIS WH 09:15-10:45</label>
                          </div></div>
                        </li>
                        <div id="delClassList">
                        </div>
                      </ul>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                  <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick=deleteFromClassList()>Delete</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
          <div class="row">
            <div class="col">
            <button type="button" class="btn btn-primary btn-lg mt-1 w-100" onclick="save_schedule()">Save</button>
            <script>
            function save_schedule(){
                 location.href = "/my_schedules";
            } 
          </script>
          </div>
          <div class="col">
            <button type="button" class="btn btn-primary btn-lg mt-1 w-100" onclick="save_schedule()">Cancel</button>
            <script>
            function cancel_schedule(){
                 location.href = "/my_schedules";
            } 
          </script>
          </div>
        </div>
        <button class="btn btn-primary btn-lg btn-block mt-1 w-100 btn-success" onclick="Toasty()">Download Schedule</button>
           <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 5"> 
            <div id="EpicToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
              <img src="/img/download.png" width=15px class="rounded me-2" alt="Downloading">
              <strong class="me-auto">Downloading Schedule</strong>
              <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body toast_text">
              Please wait for a moment while we convert your schedule. It will automatically download after converting.
            </div>
          </div>
        </div>
      </div>
    </nav>
    <div id="container">
    <div id="content" class="p-4 p-md-5">
      <div class="row">
        <!-- Row 1 -->
        <div class="col-1"></div>
        <div class="col border border-dark">Monday</div>
        <div class="col border border-dark">Tuesday</div>
        <div class="col border border-dark">Wednesday</div>
        <div class="col border border-dark">Thursday</div>
        <div class="col border border-dark">Friday</div>
        <div class="col border border-dark">Saturday</div>
      </div>
      <div class="row">
        <!-- Row 2 -->
        <div class="col-1 border border-dark">07</div>
        <div class="col border border-dark" id="M7"></div>
        <div class="col border border-dark" id="T7"></div>
        <div class="col border border-dark" id="W7"></div>
        <div class="col border border-dark" id="H7"></div>
        <div class="col border border-dark" id="F7"></div>
        <div class="col border border-dark" id="S7"></div>
        </div>
      <div class="row">
        <!-- Row 3 -->
        <div class="col-1 border border-dark">08</div>
        <div class="col border border-dark" id="M8"></div>
        <div class="col border border-dark" id="T8"></div>
        <div class="col border border-dark" id="W8"></div>
        <div class="col border border-dark" id="H8"></div>
        <div class="col border border-dark" id="F8"></div>
        <div class="col border border-dark" id="S8"></div>
        </div>
      <div class="row">
        <!-- Row 4 -->
        <div class="col-1 border border-dark">09</div>
        <div class="col border border-dark" id="M9">STALGCM</div>
        <div class="col border border-dark" id="T9">STALGCM</div>
        <div class="col border border-dark" id="W9">GERPHIS</div>
        <div class="col border border-dark" id="H9">GERPHIS</div>
        <div class="col border border-dark" id="F9"></div>
        <div class="col border border-dark" id="S9"></div>
        </div>
      <div class="row">
        <!-- Row 5 -->
        <div class="col-1 border border-dark">10</div>
        <div class="col border border-dark" id="M10">STALGCM</div>
        <div class="col border border-dark" id="T10">STALGCM</div>
        <div class="col border border-dark" id="W10">GERPHIS</div>
        <div class="col border border-dark" id="H10">GERPHIS</div>
        <div class="col border border-dark" id="F10"></div>
        <div class="col border border-dark" id="S10"></div>
        </div>
      <div class="row">
        <!-- Row 6 -->
        <div class="col-1 border border-dark">11</div>
        <div class="col border border-dark" id="M11"></div>
        <div class="col border border-dark" id="T11"></div>
        <div class="col border border-dark" id="W11"></div>
        <div class="col border border-dark" id="H11"></div>
        <div class="col border border-dark" id="F11"></div>
        <div class="col border border-dark" id="S11"></div>
        </div>
      <div class="row">
        <!-- Row 7 -->
        <div class="col-1 border border-dark">12</div>
        <div class="col border border-dark" id="M12"></div>
        <div class="col border border-dark" id="T12"></div>
        <div class="col border border-dark" id="W12"></div>
        <div class="col border border-dark" id="H12"></div>
        <div class="col border border-dark" id="F12"></div>
        <div class="col border border-dark" id="S12"></div>
        </div>
      <div class="row">
        <!-- Row 8 -->
        <div class="col-1 border border-dark">13</div>
        <div class="col border border-dark" id="M13"></div>
        <div class="col border border-dark" id="T13"></div>
        <div class="col border border-dark" id="W13"></div>
        <div class="col border border-dark" id="H13"></div>
        <div class="col border border-dark" id="F13"></div>
        <div class="col border border-dark" id="S13"></div>
        </div>
      <div class="row">
        <!-- Row 9 -->
        <div class="col-1 border border-dark">14</div>
        <div class="col border border-dark" id="M14"></div>
        <div class="col border border-dark" id="T14"></div>
        <div class="col border border-dark" id="W14"></div>
        <div class="col border border-dark" id="H14"></div>
        <div class="col border border-dark" id="F14"></div>
        <div class="col border border-dark" id="S14"></div>
        </div>
      <div class="row">
        <!-- Row 10 -->
        <div class="col-1 border border-dark">15</div>
        <div class="col border border-dark" id="M15">GETEAMS</div>
        <div class="col border border-dark" id="T15"></div>
        <div class="col border border-dark" id="W15"></div>
        <div class="col border border-dark" id="H15"></div>
        <div class="col border border-dark" id="F15"></div>
        <div class="col border border-dark" id="S15"></div>
        </div>
      <div class="row">
        <!-- Row 11 -->
        <div class="col-1 border border-dark">16</div>
        <div class="col border border-dark" id="M16">GETEAMS</div>
        <div class="col border border-dark" id="T16"></div>
        <div class="col border border-dark" id="W16"></div>
        <div class="col border border-dark" id="H16"></div>
        <div class="col border border-dark" id="F16"></div>
        <div class="col border border-dark" id="S16"></div>
        </div>
      <div class="row">
        <!-- Row 12 -->
        <div class="col-1 border border-dark">17</div>
        <div class="col border border-dark" id="M17">GETEAMS</div>
        <div class="col border border-dark" id="T17"></div>
        <div class="col border border-dark" id="W17"></div>
        <div class="col border border-dark" id="H17"></div>
        <div class="col border border-dark" id="F17"></div>
        <div class="col border border-dark" id="S17"></div>
        </div>
      <div class="row">
        <!-- Row 13 -->
        <div class="col-1 border border-dark">18</div>
        <div class="col border border-dark" id="M18"></div>
        <div class="col border border-dark" id="T18"></div>
        <div class="col border border-dark" id="W18"></div>
        <div class="col border border-dark" id="H18"></div>
        <div class="col border border-dark" id="F18"></div>
        <div class="col border border-dark" id="S18"></div>
        </div>
      <div class="row">
        <!-- Row 14 -->
        <div class="col-1 border border-dark">19</div>
        <div class="col border border-dark" id="M19"></div>
        <div class="col border border-dark" id="T19"></div>
        <div class="col border border-dark" id="W19"></div>
        <div class="col border border-dark" id="H19"></div>
        <div class="col border border-dark" id="F19"></div>
        <div class="col border border-dark" id="S19"></div>
        </div>
      <div class="row">
        <!-- Row 14 -->
        <div class="col-1 border border-dark">20</div>
        <div class="col border border-dark" id="M20"></div>
        <div class="col border border-dark" id="T20"></div>
        <div class="col border border-dark" id="W20"></div>
        <div class="col border border-dark" id="H20"></div>
        <div class="col border border-dark" id="F20"></div>
        <div class="col border border-dark" id="S20"></div>
        </div>
      <div class="row">
        <!-- Row 14 -->
        <div class="col-1 border border-dark">21</div>
        <div class="col border border-dark" id="M21"></div>
        <div class="col border border-dark" id="T21"></div>
        <div class="col border border-dark" id="W21"></div>
        <div class="col border border-dark" id="H21"></div>
        <div class="col border border-dark" id="F21"></div>
        <div class="col border border-dark" id="S21"></div>
        </div>
      </div>
    </div>
    </div>
  </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <!--toast-->
    <script type="text/javascript" src="/js/schedule.js"></script>
    <script>
      var option = 
      {
          animation : true,
          delay : 10000
      };
      
      function Toasty( )
      {
          var toastHTMLElement = document.getElementById( 'EpicToast' );
          var toastElement = new bootstrap.Toast( toastHTMLElement, option );
          toastElement.show( );
      }
    </script>
  </body>
</html>